# Token do Bot Discord
DISCORD_TOKEN=SLA_123

# ID do Servidor (Guild ID)
GUILD_ID=1472732440891232258

# IDs dos Cargos de Staff (use aspas para separar)
ROLE_DOMINACOES=ID_DO_CARGO_DOMINACOES
ROLE_TRONOS=ID_DO_CARGO_TRONOS
ROLE_QUERUBIM=ID_DO_CARGO_QUERUBIM
ROLE_ARCANJO=ID_DO_CARGO_ARCANJO
ROLE_SERAFIM=ID_DO_CARGO_SERAFIM
ROLE_STAFF=ID_DO_CARGO_STAFF

# Cargo Padrão para ADDCARGO
ROLE_PADRAO=ID_DO_CARGO_PADRAO
