TYPE=bot
MAIN=index.js
NAME=Staff
AVATAR=https://images-ext-1.discordapp.net/external/_1qloRQ_0ynZmizxb4Wetz3UDZgKB73HNyqDXhyMAko/%3Fsize%3D4096/https/cdn.discordapp.com/avatars/1512865702766444714/5b8b9c34777d38eed8595eeced737f7b.png?format=webp&quality=lossless&width=293&height=293
RAM=100
AUTORESTART=true
START=node index.js